name: Data Preprocessing Automation

on:
  push:
    branches:
      - main
    paths:
      - 'telco_churn_raw/**'
      - 'preprocessing/automate_preprocessing.py'
      - '.github/workflows/main.yml' # Agar trigger jalan saat file ini diupdate

jobs:
  preprocess:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy scikit-learn

    - name: Run Preprocessing Script
      run: |
        python preprocessing/automate_preprocessing.py

    - name: Check Directory Structure
      run: |
        echo "Menampilkan isi folder preprocessing..."
        ls -R preprocessing/

    - name: Commit and Push Processed Data
      run: |
        git config --global user.name "GitHub Actions Bot"
        git config --global user.email "actions@github.com"
        
        # Tambahkan file spesifik (Pastikan path ini SAMA dengan output python script)
        git add preprocessing/telco_churn_preprocessing/telco_churn_clean.csv
        
        # Commit dan Push
        git commit -m "Auto-update: Generate processed dataset" || echo "No changes to commit"
        git push